*.sublime-workspace
*~
._*
page.html
checkver-*.html
.vscode/.editorconfig
TODO/DEV-tools-winsparkle.json at master · anderlli0053-DEV-tools.url
TODO/ocean-parsec.json at main · StarsbySea-ocean.url
sh.exe.stackdump
debug.log
*.stackdump
